.Widget__Contents{
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.Widget__Content{
    margin: 5px;
    display: flex;
    padding: 5px;
    border: 1px solid lightgray;
    background-color: #293241;
    border-radius: 2px;
}

.Widget__Content >img{
    height: 30px;
    border-radius: 5px;
}

.Widget__ContentTitle{
    margin-left: 10px;
}

.Widget__ContentTitle > h6{
    color: white;
}

.Widget__ContentTitle>p{
    color: white;
    font-size: 12px;
}