
.Widget{
    flex: 0.2;
    display: flex;
    flex-direction: column;
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    height: fit-content;
    position : sticky;
    top: 7em;
}

.Widget__Header > h6{
    color: white;
    text-align: center;
    padding: 10px 5px;
    font-size: 1.3em;
}

@media only screen and (max-width: 550px)
{
    .Widget{
        display: none !important;
    }
}