.Widget__Contents{
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.Widget__Content{
    margin: 5px;
    display: flex;
    padding: 5px;
    border: 1px solid lightgray;
    /* background-color: #293241; */
    background: linear-gradient(91deg, #00000070, transparent);
    border-radius: 8px;
    gap: 1rem;
    align-items: center;
}

.Widget__Content >img{
    height: 30px;
    border-radius: 5px;
}

.Widget__ContentTitle > p{
    margin: 0;
 }

.Widget__ContentTitle > h6{
    color: white;
}

.Widget__ContentTitle>p{
    color: white;
    font-size: 12px;
}