.qSidebar{
    flex: 0.2;
    max-width: 250px;
}

.qHeader{
    padding-left: 10px;
}

.qHeader p{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

hr{
    margin-bottom: 15px;
}

  .qSidebarOptions {
    display: flex;
    flex-direction: column !important;
    position : sticky;
    top: 7em;
  }

  .qSidebarOption {
    display: flex;
    align-items: center;
    color: rgb(238, 230, 230);
    padding: 0px 10px;
    cursor: pointer;
    background-color: transparent;
    background: linear-gradient(91deg, #00000070, transparent);
    margin: 2px 0;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
  }

  .qSidebarOption:hover{
    background: transparent;
  }
  
  .qSidebarOption > p {
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-top: 16px;
  }
