.sidebar{
    flex: 0.2;
    max-width: 250px;
}

  .sidebarOptions {
    display: flex;
    flex-direction: column !important;
    position : sticky;
    top: 7em;
  }

  .sidebarOption {
    display: flex;
    align-items: center;
    color: white;
    padding: 0px 10px;
    cursor: pointer;
    background-color: #293240;
    margin: 2px 0;
    border-radius: 10px;
  }
  
  .sidebarOption:hover {
    background: #abd5e2;
    color: #222e50;
    border-radius: 5px;
    border: 1px solid #222e50;
  }

  .sidebarOption:hover p{
    color: black;
  }

  .sidebarOption:hover svg{
    color: black;
  }

  .sidebarOption > img {
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
  }
  
  .sidebarOption > .MuiSvgIcon-root {
    font-size: medium;
    margin-left: 20px;
  }

  .sidebarOption > p {
    margin-left: 10px;
    color: white;
    font-weight: 400;
    font-size: 13px;
    margin-top: 16px;
  }
  
  .sidebarOption > .text {
    margin-left: 23px;
    color: gray;
    font-weight: 400;
    font-size: 13px;
  }

@media only screen and (max-width: 550px)
{
    .sidebar{
        display: none !important;
    }
}