.discover{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    height: auto;
    padding: 20px 0px;
    box-sizing: border-box;
}

.discover-head p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(233, 230, 230);
}

.discover-body-head p{
    color: rgb(238, 235, 235);
    font-weight: 500;
    padding-left: 10px;
}

