.feed{
    display:flex;
    flex-direction: column;
    flex:0.6;
    min-height: 84.6vh;
    /* just for designing purpose latter we can remove it */
    margin: 0px 20px;
}

/*https://www.oracle.com/asset/web/i/rh08-top-bg.png*/