.quoraBox{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border:1px solid lightgray;
    border-radius: 10px;
    background-color: #293241;
    cursor: pointer;
    color: white;
    max-width: 2000px;
    box-shadow: 2px 6px 20px 0px #685555;
}

.quoraBox__info{
    display: flex;
    align-items: center;
}

.quoraBox__quora{
    display: flex;
    margin-top: 8px;
}

.quoraBox__quora > h5{
    color: white;
    font-weight: 500;
    font-size: large;
    margin-left: 10px;
}

.quoraBox_options{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}

.quoraBox_options button{
    display: inline-block;
    flex: 0.3;
    align-items: center;
    text-align: center;
    outline: none;
    border: none;
    padding: 5px 0px;
    background-color: #293241;
    color: white;
    border-radius: 10px;
    transition: .3s;
}

.quoraBox_options button:hover{
    color: #6fa2fa;
}

.quoraBox_options button i{
    margin: 0px 10px;
}