.quoraBox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:1px solid lightgray;
    border-radius: 10px;
    background-color: #293241;
    cursor: pointer;
    color: white;
    max-width: 2000px;
}

.quoraBox:hover{
    border:1px solid rgb(175,175,175);
}

.quoraBox__info{
    display: flex;
    align-items: center;
}

.quoraBox__quora{
    display: flex;
    margin-top: 8px;
}

.quoraBox__quora > h5{
    color: white;
    font-weight: 500;
    font-size: large;
    margin-left: 10px;
}
